{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% trans "Read" %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ answers.question }}</h5>
			<p>{{ answers.user }}</p>
		</div>
		<div class="card-body">
			<div class="row">
				<p>{{ answers.answer }}</p>
			</div>				
		</div>
		<div class="card-footer">				
			<p><strong>{{ answers.datea }}</strong></p>
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'answers_index' %}">Назад</a>    	
</div>

{% endblock content %}