{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% trans "Read" %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ reviews.user }}</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">				
					<p><strong>{% trans "details" %}</strong></p>
				</div>
			</div>				
		</div>
		<div class="card-footer">				
			<p><strong>{{ reviews.dater }}</strong></p>
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" href="{% url 'reviews_index' %}">Назад</a>    	
</div>

{% endblock content %}