{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>Администрация школы</h3>
</div>
<div class="row">
	<div class="card">
		<div class="card-header">
			<h5 align="center">Директор</h5>
		</div>
		<div class="card-body">					
			<div class="row">
				<div class="col-md-8">
					<h4 align="center">Сұлтанова Мәдина Рысбайқызы</h4>
					<p>Категория: Педагог-иследователь</p>
					<p>Общий педагогический стаж: 26</p>
					<p>Общий стаж руководителя: 10</p>
				</div>								
				<div class="col-md-4">
					<img src="{% static 'images/administration1.jpg' %}" alt="woman" style="width:100%; padding: 10px;">
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			<p>Часы приема родителей: ср.: 14:00-17:00, чт.: 14:00-17:00<p>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header">
			<h5 align="center">заместитель директора по учебной работе</h5>
		</div>
		<div class="card-body">					
			<div class="row">
				<div class="col-md-8">
					<h4 align="center">Алитанова Шолпан Бузкулановна</h4>
					<p>Высшая категория, педагогический стаж - 23 года.</p>
					<p>Педагогическое кредо: Учитель – это даже не профессия. Это образ жизни. Это осознание огромной ответственности перед государством, обществом, а прежде всего – перед учеником. Поэтому надо уметь видеть, слышать другого человека, совершать обдуманные осторожные поступки, не обижая неокрепшую душу ребёнка. Мы, учителя, должны подавать пример доброты, скромности, справедливости, отзывчивости.</p>
				</div>								
				<div class="col-md-4">
					<img src="{% static 'images/administration2.jpg' %}" alt="woman" style="width:100%; padding: 10px;">
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			<p>Часы приема родителей: пн.: 14:00-17:00, вт.: 14:00-17:00<p>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header">
			<h5 align="center">заместитель директора по воспитательной работе</h5>
		</div>
		<div class="card-body">					
			<div class="row">
				<div class="col-md-8">
					<h4 align="center">Муканова Айжан Ергаликызы</h4>
					<p>Педагогический стаж: 14 лет.</p>
					<p>Педагогическое кредо: «Развивать и воспитывать целостную личность — гражданина мира, готовую совершенствоваться всю жизнь».</p>
				</div>								
				<div class="col-md-4">
					<img src="{% static 'images/administration3.jpg' %}" alt="woman" style="width:100%; padding: 10px;">
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			<p>Часы приема родителей: пт.: 14:00-17:00<p>
		</div>
	</div>
</div>
{% endblock content %}