{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "cabinet" %}</h3>
</div>
<br>
<h2>{{ user_info }}</h2>
<hr>
<a href="{% url 'my_account' %}">{% trans "My account" %}</a>
<hr>
<a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
<hr>
<h2>{% trans "reviews" %}</h2>
{% if reviews.count > 0 %}
<div class="row">
	<table id="myTable2" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "dater" %}</th>
				<th>{% trans "details" %}</th>
				<th>{% trans "user" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for r in reviews %}
			<tr>
				<td>
					<p>{{ r.dater | date:"d.m.Y H:i"}}</p>
				</td>
				<td>
					<p>{{ r.details }}</p>	
				</td>
				<td>
					<p>{{ r.user }}</p>	
				</td>				
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% endblock content %}