{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>Порядок подачи документов в первый класс</h3>
</div>
<div class="row">
	<h3 align="center">Условие для зачисления детей в первый класс</h3>
	<p>Общеобразовательная школа обязана принять ребёнка на обучение:</p>	
	<ul>
		<li>независимо от уровня его подготовки;</li>
		<li>если ребёнку исполнилось либо исполнится в течение года 6 лет;</li>
		<li>если место жительства относится к территории (микроучастку), которую обслуживает школа (обязательна регистрация родителя – временная либо постоянная, регистрация ребёнка не нужна).</li>
	</ul>
	<p>Территория обслуживания школ утверждается приказом местного управления образования. В управлении можно узнать номер и адрес школы, к которой относится будущий первоклассник в соответствии с его местом проживания.</p>
	<hr>
	<h3 align="center">Куда и когда подавать документы</h3>		
	<p>Документы необходимо подать в период с 1 апреля до 1 августа 2023 года. Родители (законные представители) могут подать документы двумя способами: через сайт электронного правительства  (<a href="https://egov.kz/cms/ru" target="_blank" rel="noopener">egov.kz</a>)или непосредственно в школу.</p> 
	<hr>
	<h3 align="center">Как подать документы через E-gov.kz</h3>
	<p>Для оформления заявки на сайте родителю или законному представителю необходимо иметь:</p>
	<ul>
		<li>ЭЦП;</li>
		<li>два номера телефона (основной и дополнительный);</li>
		<li>адрес электронной почты.</li>
	</ul>
	<p>Какие документы подаются:</p> 
	<ul>
		<li>Заявление. Форма заполняется на сайте.</li>
		<li>Медицинские справки о состоянии здоровья ребёнка по формам 026/у-3 и 063/у. Документы предоставляют медицинские учреждения по месту прикрепления. Необходимо сделать фото справок либо отсканировать их. </li>
		<li>Цифровая фотография ребёнка размером 3х4 см.</li>
	</ul>
	<p>Максимальное время, в течение которого необходимо заполнить форму и прикрепить документы, – 15 минут.</p>
	<p>После успешного прохождения процедуры на сайте, в личном кабинете родителя появится информация с указанием даты и времени исполнения заявки. Далее в раздел "История получения услуг" придёт уведомление в электронном виде о зачислении ребенка с 1 сентября в общеобразовательную школу либо уведомление о мотивированном отказе. Уведомление должно иметь цифровую подпись уполномоченного лица. Срок оказания услуги – 1 день.</p>
	<p>Когда решение о зачислении ребёнка в первый класс школы было принято, что подтверждается уведомлением, нужно отнести в школу следующие документы (передача документов носит исключительно технический характер):</p> 
	<ul>
		<li>заявление от родителя или законного представителя ребёнка; </li>
		<li>копию удостоверения личности заявителя;</li>
		<li>фотографии ребёнка размером 3х4 (две штуки); </li>
		<li>оригиналы справок о состоянии здоровья по формам 026/у-3 и 063/у.</li>
	</ul>
</div>
{% endblock content %}