{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h1>КГУ Шарбактинская СОШ</h1>	
</div>
<div class="part0">
	<div class="row">
		<h2 style="text-transform: uppercase; text-align: center;">Добро пожаловать</h2>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p>Мы рады приветствовать вас на официальном сайте нашей школы. Сайт адресован всем, кому интересно знать, чем живет наше образовательное учреждение. Он создается для Вас, уважаемые Родители, любимые Ученики и Учителя, просто Гости сайта.</p>
			<p>Из года в год многое в нашей школе меняется, но одно остается неизменным: школа по-прежнему существует только для детей и старается дать детям и их родителям пространство благополучия, успеха и безопасности. Наша школа – это большой, надежный, теплый дом, где есть работа и отдых, праздники и будни, и самое главное, – добрые традиции. Сотрудничество педагогов, обучающихся и их родителей, основанное на взаимоуважении и взаимопомощи, является залогом успеха.</p>
			<p>Это школа, в которой создана особая, эмоционально привлекательная среда. Яркая атмосфера общешкольных праздников, конкурсов и мероприятий, концерты, фестивали, творческие игры – вот, чем живут учителя и ученики нашей школы.</p>
			<p>Хотите узнать больше? Добро пожаловать на наш сайт.</p>
		</div>
		<div class="col-md-4">
			<img src="{% static 'images/logo.png' %}" alt="logo" style="width:100%; padding: 10px;">
		</div>
	</div>
</div>
<hr>

<div class="div-width-100-text-center">
	<h3>Расписание звонков</h3>		
</div>
<div class="part2">
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-4">
			<img src="{% static 'images/bell.png' %}" alt="bell" style="width:100%; padding: 10px;">
		</div>		
		<div class="col-md-4">
			<h3 align="center">1 смена</h3>
			<table>
				<tbody>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>1</p></td>
						<td style="padding:5px"><p>8:00-8:40</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>2</p></td>
						<td style="padding:5px"><p>8:45-9:25</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>3</p></td>
						<td style="padding:5px"><p>9:30-10:10</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>4</p></td>
						<td style="padding:5px"><p>10:15-10:55</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>5</p></td>
						<td style="padding:5px"><p>11:10-11:50</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>6</p></td>
						<td style="padding:5px"><p>11:55-12:35</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>7</p></td>
						<td style="padding:5px"><p>12:40-13:20</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>8</p></td>
						<td style="padding:5px"><p>13:20-14:00</p></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h3 align="center">2 смена</h3>
			<table>
				<tbody>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>1</p></td>
						<td style="padding:5px"><p>14:00-14:45</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>2</p></td>
						<td style="padding:5px"><p>14:50-15:35</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>3</p></td>
						<td style="padding:5px"><p>15:40-16:30</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>4</p></td>
						<td style="padding:5px"><p>16:40-17:25</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>5</p></td>
						<td style="padding:5px"><p>17:30-18:15</p></td>
					</tr>
					<tr>
						<td valign="top" style="padding:5px"><p><strong>6</p></td>
						<td style="padding:5px"><p>18:20-19:05  </p></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<hr><div class="div-width-100-text-center">
	<h3>{% trans "reviewss" %}</h3>		
</div>
<div class="part3">
	<div class="row" style="margin-top: 10px;">
		{% if reviews14.count > 0 %}
			{% for r in reviews14 %}
				<div class="col-lg-3">
					<p><div class="Stars" style='--rating: {{ r.rating| stringformat:".1f" }};'></div></p>							
					<h6> {{ r.hotel }}</h6>
					<!-- <h6>{% trans "Rating" %} {{ r.rating }}</h6>																				 -->
					<p><small>{{ r.details | slice:"0:200" }}...</small></p>									
					<h6> {{ r.username }}</h6>
				</div>
			{% endfor %}
		{% endif %}								
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'reviews_list' %}">{% trans "all reviews" %}</a></h3>
</div>
<hr>

<div class="jumbotron">
	<div class="div-width-100-text-center">
		<h3>{% trans "newss" %}</h3>
	</div>
	<hr class="my-4">
	<div class="row">
		{% if news1.count > 0 %}
		<div class="col-lg-9 border" style="padding:10px;">
			{% for c in news1 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				{% if c.photo.url == "/ media /images/news7.jpeg" %}
					<img class="img-center" src="{% static 'images/news7.jpeg' %}" alt="{{ c.title }}" title="{{ c.details }}">
				{% else %}
					{% if c.photo.url != None %}
						<img class="img-center" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
					{% endif %}
				{% endif %}
				<h4><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h4>
				<p>{{ c.details }}</p>
			{% endfor %}
		</div>
		<div class="col-lg-3 border" style="padding:10px;">
			{% if news24.count > 0 %}
				{% for c in news24 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				<div class="row">
					{% if c.photo.url == "/ media /images/news4.jpeg" %}
						<img class="img-center3" src="{% static 'images/news4.jpeg' %}" alt="{{ c.title }}" title="{{ c.details }}">
					{% elif c.photo.url == "/ media /images/news5.jpeg" %}
						<img class="img-center3" src="{% static 'images/news5.jpeg' %}" alt="{{ c.title }}" title="{{ c.details }}">
					{% elif c.photo.url == "/ media /images/news6.jpeg" %}
						<img class="img-center3" src="{% static 'images/news6.jpeg' %}" alt="{{ c.title }}" title="{{ c.details }}">
					{% else %}
						{% if c.photo.url != None %}
							<img class="img-center3" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
						{% endif %}
					{% endif %}
				</div>
				<div class="row">
					<h5><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h5>
				</div>
				<hr class="my-4">
				{% endfor %}
			{% endif %}
		</div>
		{% endif %}
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'news_list' %}">{% trans "all newss" %}</a></h3>
</div>
{% endblock content %}
