{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>Учебники</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/matematika-1-chast-21803/" target="_blank" rel="noopener">МАТЕМАТИКА 1-ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 1 класса общеобразовательной школы</p>
		<p>Год издания:	2021</p>
		<p>Класс обучения: 1 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_1_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://almatykitap.kz/catalog/matematika-2-chast-21804/" target="_blank" rel="noopener">МАТЕМАТИКА 2 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 1 класса общеобразовательной школы</p>
		<p>Год издания:	2021</p>
		<p>Класс обучения: 1 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_1_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/russkiy-yazyk-24572/" target="_blank" rel="noopener">РУССКИЙ ЯЗЫК 1 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 2 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 2 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/russkij_yazyk_2_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/russkiy-yazyk-24573/" target="_blank" rel="noopener">РУССКИЙ ЯЗЫК 2 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 2 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 2 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/russkij_yazyk_2_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/literaturnoe-chtenie-24567/" target="_blank" rel="noopener">ЛИТЕРАТУРНОЕ ЧТЕНИЕ 1 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 2 класса уровня начального образования</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 2 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/literaturnoe_chtenie_2_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/literaturnoe-chtenie-24568/" target="_blank" rel="noopener">ЛИТЕРАТУРНОЕ ЧТЕНИЕ 2 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 2 класса уровня начального образования</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 2 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/literaturnoe_chtenie_2_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/russkiy-yazyk-dlya-3-klassa-obscheobrazovatelnoy-shkoly-15967/" target="_blank" rel="noopener">РУССКИЙ ЯЗЫК 1 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 3 класса общеобразовательной школы с русским языком обучения</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 3 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/russkij_yazyk_3_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/russkiy-yazyk-dlya-3-klassa-obscheobrazovatelnoy-shkoly-15968/" target="_blank" rel="noopener">РУССКИЙ ЯЗЫК 2 ЧАСТЬ</a></h3>		
		<p>Учебник для учащихся 3 класса общеобразовательной школы с русским языком обучения</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 3 класс</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/russkij_yazyk_3_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/matemuchebnik1-ch4-klrusbasi-16047/" target="_blank" rel="noopener">МАТЕМАТИКА ДЛЯ УЧАЩИХСЯ 4 КЛАССА ОБЩЕОБРАЗОВАТЕЛЬНОЙ ШКОЛЫ</a></h3>		
		<p>Учебник для учащихся 4 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 4 класс</p>			
		<p>Часть 1</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_4_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/matematika-dlya-uchaschihsya-4-klassa-obscheobrazovatelnoy-shkoly-15985/" target="_blank" rel="noopener">МАТЕМАТИКА ДЛЯ УЧАЩИХСЯ 4 КЛАССА ОБЩЕОБРАЗОВАТЕЛЬНОЙ ШКОЛЫ</a></h3>		
		<p>Учебник для учащихся 4 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 4 класс</p>
		<p>Часть 2</p>					
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_4_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/matematika-dlya-uchaschihsya-4-klassa-obscheobrazovatelnoy-shkoly-15986/" target="_blank" rel="noopener">МАТЕМАТИКА ДЛЯ УЧАЩИХСЯ 4 КЛАССА ОБЩЕОБРАЗОВАТЕЛЬНОЙ ШКОЛЫ</a></h3>		
		<p>Учебник для учащихся 4 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 4 класс</p>			
		<p>Часть 3</p>			
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_4_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
	<div class="col-md-4">
		<h3 align="center"><a href="https://www.almatykitap.kz/catalog/matematika-dlya-uchaschihsya-4-klassa-obscheobrazovatelnoy-shkoly-15987/" target="_blank" rel="noopener">МАТЕМАТИКА ДЛЯ УЧАЩИХСЯ 4 КЛАССА ОБЩЕОБРАЗОВАТЕЛЬНОЙ ШКОЛЫ</a></h3>		
		<p>Учебник для учащихся 4 класса общеобразовательной школы</p>
		<p>Год издания:	2022</p>
		<p>Класс обучения: 4 класс</p>
		<p>Часть 4</p>					
	</div>
	<div class="col-md-2" >
		<img src="{% static 'images/matematika_4_klass.jpg' %}" alt="logo" style="width:100%; padding: 10px;">
	</div>
</div>

{% endblock content %}