{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>Школьная форма</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<img src="{% static 'images/uniform.jpg' %}" alt="uniform" style="width:100%; padding: 10px;">	
		<h3 align="center">Школьная форма</h3>
	</div>
	<div class="col-md-9" >
		<p>В целях соблюдения принципов государственной политики в области образования во всех организациях образования города Нур-Султан внедрен переход учащихся на единую школьную форму темно-синего цвета (в соответствии с приказом министра образования и науки РК от 14.01.2016 г. №26).</p>
		<p>Родители выбирают школьную форму по своему усмотрению.</p>
		<p>Главное, чтобы приобретенная форма соответствовала требованиям, изложенным ниже:</p>
		<ul>
			<li>цвет школьной формы: темно-синий;</li>
			<li>стиль школьной формы выполнен в классическом стиле;</li>
			<li>школьная форма для мальчиков включает в себя: пиджак, жилет, брюки, белая парадная рубашка, повседневная белая рубашка, (в холодное время: трикотажный жилет, белая водолазка).Брюки для мальчиков свободного кроя и по длине закрывают лодыжки ног. Рекомендуемый минимум: белая рубашка, жилет (жилет) и брюки.</li>
			<li>школьная форма для девочек включает в себя: пиджак, жилет, юбку, брюки, классическую белую блузку, сарафан (в холодное время года: вязаный жилет, белая водолазка). Брюки для девочек должны быть свободного кроя и закрывать длину лодыжек, длина юбки (юбки) не выше 5 см от колена.</li>
			<li>не допускается включение в школьную форму элементов религиозной одежды различных конфессий.</li>
			<li>по требованиям, предъявляемым к школьной форме, не следует носить одежду и аксессуары с травмирующей фурнитурой.</li>
			<li>ткань школьной формы должна состоять из следующих свойств: используются полушерстяные и хлопчатобумажные ткани улучшенного качества, они обладают высокой износостойкостью, обладают антибактериальными, антимикробными и антистатическими свойствами, рекомендуется 75-85% натуральных тканей (хлопок, шерсть и т. д.) И 15-25% синтетических добавок, чтобы одежда не сильно мялась.</li>
		</ul>
	</div>
</div>
{% endblock content %}